<!DOCTYPE html>
<html lang="en">
<head>
  {{> headerlinks}}

</head>
<body>

  {{> navbar}}

    <!-- Header Code-->

    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Left side div-->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.png" alt="sishir" class="img-fluid" title="techy sishir">
                        </figure>
                    </div>

                    <!-- Right side div-->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr"> Full-Stack</span> Developer</h1>
                        <a href="https://www.linkedin.com/in/sishirbohara4/" target="_sishir"><button>About Me</button></a>
                    </div>       
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Code -->
    {{> footer}}
    
</body>
</html>