<!DOCTYPE html>
<html lang="en">
<head>
    <title>website</title>
</head>
<body>
    {{> header}} // connecting header.hbs file
    <h1>{{name}}</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
    Nostrum quaerat, ipsum fugit repellat fuga perferendis dolore explicabo in
    minima omnis sapiente laborum laboriosam, praesentium illum provident? Similique
    est ab fuga!  </p>  
</body>
</html>